{% extends "base.html" %}

{% block header %}
	{% if user.is_authenticated %}
		<ul>
			<a href="">Minhas Avaliações</a>
			<a href="">Sair</a>
		</ul>
	{% else %}
		<ul>
			<a href="">Login</a>
			<a href="{% url 'accounts_registration' %}">Cadastro</a>
		</ul>
	{% endif %}

	<a href="{% url 'social:begin' 'google-oauth2' %}"> login </a>
{% endblock header %}


{% block container %}
	<h1 class="display-3">Bem-vindo ao TemWifi?</h1>
	<p>Só aqui você encontra as avaliações dos melhores lugares para sentar e fazer seu free-la em paz!</p>
	<p>Além da internet, contamos com avaliações da comida, bebida, sinal, barulho, não fique pulando de lugar em lugar!</p>
	<p><a class="btn btn-primary btn-lg" href="{% url 'establishments_list' %}" role="button">Lista de Estabelecimentos</a></p>
{% endblock container %}