<meta name="google-signin-client_id" content="136750637518-id43so696c00a5m9i8puiodeifehacas.apps.googleusercontent.com">

<script>
    function onSuccess(googleUser) {
        {% if auth_and_login %}
         window.location = '{% url 'accounts_google_login' %}?email=' + googleUser.getBasicProfile().getEmail();
        {% else %}
        document.getElementById('id_password').value = googleUser.El;
        document.getElementById('id_name').value = googleUser.getBasicProfile().getName();
        document.getElementById('id_email').value = googleUser.getBasicProfile().getEmail();
        document.getElementById('message').innerHTML = '<p class="text-success">Conta do google vinculada com sucesso, confirme seu cadastro!</p>';
        {% endif %}
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>