<div class="col-md-4">
	{% if show_establishment %}
		<p>{{ evaluation.establishment.name }} </p>
	{% endif %}
	<p>realizada em <b>{{ evaluation.create_at }}</b></p>
	<p>
		Internet: <b>{{ evaluation.internet_rating }}</b> <br>
		Atendimento: <b>{{ evaluation.customer_service }}</b><br>
		Espaço: <b>{{ evaluation.price }}</b><br>
		Barulho: <b>{{ evaluation.noise }}</b><br>
		Geral: <b>{{ evaluation.geral }}</b>
	</p>
	<p>
		Sobre a Internet: {{ evaluation.internet_password }}
	</p>
	<p>
		Sobre a Comida: {{ evaluation.foods }}
	</p>
	<p>
		Sobre a Bebida: {{ evaluation.drinks }}
	</p>
</div>