{% extends "base.html" %}
{% load widget_tweaks %}

{% block extra_head %}
{% include "accounts/includes/facebook.html" with auth_and_login=1 %}
{% include "accounts/includes/google.html" with auth_and_login=1 %}
{% endblock extra_head %}

{% block container %}
<form action='.' method='post'>
		{% csrf_token %}
		{% for field in form %}
		    <div class="form-group {% if field.errors %}has-error{%endif%}">
		    	{% if field.label == 'Password' %}
		    		<input class="form-control" type="password" id="id_password" name="password" placeholder="Senha" value="{{ form.password.value|default:"" }}">
		    	{% else %}
		    		{% render_field field class="form-control" placeholder=field.label %}
		    	{% endif %}
		    </div>
		{% endfor %}
<button class="btn btn-primary btn-lg">Login</button>
	</form>

<div id="my-signin2"></div>

<fb:login-button data-size="large" size="medium" scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
{% endblock container %}