{% extends "base.html" %}
{% load widget_tweaks %}

{% block container %}
<h2>{{ establishment.name }}</h2>
<h3>{{ establishment.get_category_display }}</h3>
<h5>Avaliações: {{ establishment.evaluates.count }}</h5>
<p>
	{{ establishment.zip_code }} <br>
	{{ establishment.address }}, {{ establishment.number }} <br>
	{{ establishment.city }} - {{ establishment.state }} <br>
	{{ establishment.country }}
</p>

<hr class="half-rule"/>

<div class="row">
	{% for evaluation in establishment.evaluates.all %}
		{% include "establishmentevaluations/includes/item.html" %}
	{% endfor %}
</div>

<hr class="half-rule"/>

<form action='.' method='post'>
	<h4>Adicionar Avaliação</h4>
	{% csrf_token %}
	{% for field in form %}
	    <div class="form-group {% if field.errors %}has-error{%endif%}">
	    	{% render_field field class="form-control" placeholder=field.label %}
	    </div>
	{% endfor %}
	<button type="submit" class="btn btn-primary">Cadastrar Avaliação</button>
</form>

{% endblock container %}