{% extends "base.html" %}
{% load widget_tweaks %}

{% block container %}
<h2>{{ establishment.name }}</h2>
<h4>{{ establishment.get_category_display }}</h4>
<h4>Avaliações: {{ establishment.evaluates.count }}</h4>
<p>
	{{ establishment.address }} <br>
	{{ establishment.city }} - {{ establishment.state }} <br>
	{{ establishment.country }}
</p>
<p><a class="btn btn-primary" href="#" role="button">Nova Avaliação</a></p>


<div class="row">
	{% for evaluation in establishment.evaluates.all %}
		{% include "establishmentevaluations/includes/item.html" %}
	{% endfor %}
</div>


<form class="form-inline" action='.' method='post'>
	{% csrf_token %}
	{% for field in form %}
	    <div class="form-group {% if field.errors %}has-error{%endif%}">
	    	{% render_field field class="form-control" placeholder=field.label %}
	    </div>
	{% endfor %}

	<button>Nova avaliação</button>
</form>

{% endblock container %}